
/* Mobile portrait Screen Sizes */
/* pixel range: <=450px */
@media only screen and (min-width: 701px){
    #header_image{
    background: url(../img/beach_1200x250.png) no-repeat; 
    height: 250px;
    }
}


/* Mobile portrait Screen Sizes */
/* pixel range: <=450px */
@media only screen and (max-width: 700px) and (min-width: 401px){
    #header_image{
    background: url(../img/beach_700x300.png) no-repeat; 
    height: 300px;
    }
}


/* Mobile portrait Screen Sizes */
/* pixel range: <=450px */
@media only screen and (max-width: 400px) {
    #header_image{
    background: url(../img/beach_400x391.png) no-repeat; 
    height: 330px;
    }
}

