footer {
  clear: both;
  padding: 2em 0;
  margin: 3em 0;
  color: #999;
  text-align: center; }

.blog_date {
  text-align: center;
  font-family: 'Lobster', sans-serif; 
}

h2,
h3, 
h4{
    text-align: center;
    .main_title{
        font-family: 'Lobster', sans-serif; 
    }
}