/* My Variables */
$background_color: #fff;
$text_color: #696969;


$default-text-shadow-color: rgba($text_color, 0.5);
$default-text-shadow-blur: 0.250em;

$default-text-shadow-v-offset: 0.250em;



