/* My partial file imports */
@import "blog";
@import "variables";
@import "compass/css3";
@import "compass/typography/links/hover-link";

/* Border box declaration */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
	background-color: $background_color;
}

.wrapper {
	width: 1200px;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #fff;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: auto auto auto auto;

}

nav {
	grid-column: 1 / 5;
	grid-row: 1;
	background-color: $text_color;
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		overflow: auto;
		li {
			font-family: 'Cabin Condensed', sans-serif;
		}
		a {
			color: $background_color;
			text-decoration: none;
			font-weight: bold;
			padding: 1em;
			float: left;
			&:hover {
				color: lighten($text_color, 50);
			}
		}
	}
}

.page1-col-4a {
	grid-column: 1 / 5;
	grid-row: 2;
	background-image: url("");
}
.page1-col-4b {
	grid-column: 1 / 5;
	grid-row: 3;
}
.page1-col-4c {
	grid-column: 1 / 5;
	grid-row: 4;
}
.page1-col-4d {
	grid-column: 1 / 5;
	grid-row: 5;
}

.blog-col-1a{
	grid-column: 1 / 2;
	grid-row: 2;
}
.blog-col-1b{
	grid-column: 2 / 5;
	grid-row: 2;
}
.blog-col-2a{
	grid-column: 1 / 2;
	grid-row: 3;
}
.blog-col-2b{
	grid-column: 2 / 5;
	grid-row: 3;
}
.blog-col-3a{
	grid-column: 1 / 2;
	grid-row: 4;
}
.blog-col-3b{
	grid-column: 2 / 5;
	grid-row: 4;
}
.pics-1 {
	grid-column: 1 / 5;
	grid-row: 2;
}
.pics-2a {
	grid-column: 1 / 2;
	grid-row: 3;
}
.pics-2b {
	grid-column: 2 / 3;
	grid-row: 3;
}
.pics-2c {
	grid-column: 3 / 4;
	grid-row: 3;
}
.pics-2d {
	grid-column: 4 / 5;
	grid-row: 3;
}

@media only screen and (max-width: 800px) {
	.wrapper {
		max-width: 800px;
		grid-template-columns: 22% 22% 22% 22%;
	}
	.pics-2a {
		grid-column: 1 / 3;
		grid-row: 3;
	}
	.pics-2b {
		grid-column: 3 / 5;
		grid-row: 3;
	}
	.pics-2c {
		grid-column: 1 / 3;
		grid-row: 4;
	}
	.pics-2d {
		grid-column: 3 / 5;
		grid-row: 4;
	}
}

@media only screen and (max-width: 600px) {
	.wrapper {
		max-width: 600px;
		grid-template-columns: 22% 22% 22% 22%;
	}
	[class*='blog-col-'] {
		grid-column: 1 / 5;
		grid-row:auto;
	}
	[class*='pics-'] {
		grid-column: 1 / 5;
		grid-row:auto;
	}
}

footer {
    clear: both;
    padding: 2em 0;
    margin: 3em 0;
    color: #999;
    text-align: center;
}


@mixin std-heading {
	font-family: 'Cabin Condensed', sans-serif;
}

h1,
h3,
h4,
h5,
h6 {
	@include std-heading;
}

h2{
	@include std-heading;
	text-align: center;
}

.main_text{
	text-align: center;
	color: $text_color;
	font-size: 1.5em;
	a {
		@include hover-link;
		color: $text_color;
	}
}

.cool_text{
	@extend .main_text;
	font-size: 3em;
	font-family: 'Lobster', sans-serif;
	@include single-text-shadow;
	@if 1 == random(2){
		color: lighten($text_color, 50);
	}
	@else {
		color: darken($text_color, 50);
	}
}

a {
	color: #2772B0;
}