/* My partial file imports */
/* line 1, ../sass/_blog.scss */
.blog_date {
  text-align: center;
  font-family: 'Lobster', sans-serif;
}

/* My Variables */
/* line 5, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Border box declaration */
/* line 9, ../sass/main.scss */
html {
  box-sizing: border-box;
}

/* line 12, ../sass/main.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* My nested elements */
/* line 19, ../sass/main.scss */
nav {
  background-color: #696969;
}
/* line 21, ../sass/main.scss */
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
}
/* line 27, ../sass/main.scss */
nav ul li {
  font-family: 'Cabin Condensed', sans-serif;
}
/* line 30, ../sass/main.scss */
nav ul a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 1em;
  float: left;
}
/* line 37, ../sass/main.scss */
nav ul a:hover {
  color: #e9e9e9;
}

/* line 44, ../sass/main.scss */
body {
  font-family: Arial, Geneva, sans-serif;
  background-color: #fff;
}

/* My custom mixin */
/* line 54, ../sass/main.scss */
h1,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin Condensed', sans-serif;
}

/* line 62, ../sass/main.scss */
h2 {
  font-family: 'Cabin Condensed', sans-serif;
  text-align: center;
}

/* My Extend */
/* line 69, ../sass/main.scss */
.main_text, .cool_text {
  text-align: center;
  color: #696969;
  font-size: 2em;
}

/* line 77, ../sass/main.scss */
.cool_text {
  font-family: 'Lobster', sans-serif;
  text-shadow: 0px 0.25em 0.25em rgba(105, 105, 105, 0.5);
  /* My if else*/
  color: #e9e9e9;
}

/* line 90, ../sass/main.scss */
a {
  color: #2772B0;
}

/* line 94, ../sass/main.scss */
.wrapper {
  width: 97%;
  max-width: 1200px;
  margin: 0 auto;
  float: none;
  background-color: #fff;
}

/* line 102, ../sass/main.scss */
footer {
  clear: both;
  padding: 2em 0;
  margin: 3em 0;
  color: #999;
  text-align: center;
}
/* line 10, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
footer html, footer body {
  height: 100%;
}
/* line 12, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
footer #root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -72px;
}
/* line 18, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
footer #root #root_footer {
  height: 72px;
}
/* line 20, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
footer #footer {
  clear: both;
  position: relative;
  height: 72px;
}

/* line 111, ../sass/main.scss */
img {
  width: 100%;
}

/* grid system */
/* line 118, ../sass/main.scss */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* line 123, ../sass/main.scss */
[class*='col-'] {
  margin-left: 4%;
  float: left;
  min-height: 1px;
}

/* line 130, ../sass/main.scss */
.col-1-2,
.col-1-4 {
  width: 20%;
}

/* line 134, ../sass/main.scss */
.col-2 {
  width: 44%;
}

/* line 137, ../sass/main.scss */
.col-3 {
  width: 68%;
}

/* line 140, ../sass/main.scss */
.col-4 {
  width: 92%;
}

@media only screen and (min-width: 702px) {
  /* line 146, ../sass/main.scss */
  header h1 {
    padding: 0.5em;
    margin: 0;
  }

  /* line 151, ../sass/main.scss */
  header h1 a {
    color: #fff;
    text-decoration: none;
  }
}
@media only screen and (max-width: 701px) {
  /* line 161, ../sass/main.scss */
  body {
    font-size: 1.2em;
  }

  /* line 165, ../sass/main.scss */
  nav ul a {
    display: block;
    float: none;
    padding-left: 3.333333%;
  }

  /* line 171, ../sass/main.scss */
  nav li:nth-child(even) {
    width: 50%;
    float: right;
  }

  /* line 176, ../sass/main.scss */
  nav li:nth-child(odd) {
    width: 50%;
    float: left;
  }

  /* line 181, ../sass/main.scss */
  header h1 {
    padding: 100px 0 0 10px;
    margin: 0;
    font-size: 1.6em;
  }

  /* line 186, ../sass/main.scss */
  header h1 a {
    color: #fff;
    text-decoration: none;
  }
}
@media only screen and (min-width: 480px) and (max-width: 701px) {
  /* line 196, ../sass/main.scss */
  .col-1-2,
  .col-2 {
    width: 44%;
  }

  /* line 200, ../sass/main.scss */
  .col-1-4,
  .col-3,
  .col-4 {
    width: 92%;
  }
}
@media only screen and (max-width: 479px) {
  /* line 209, ../sass/main.scss */
  body {
    font-size: 1.5em;
  }

  /* line 212, ../sass/main.scss */
  [class*='col-'] {
    width: 100%;
    float: none;
    margin-left: 0%;
    margin-right: 0%;
  }
}
